#----- file types
*~
*.egg
*.egg-info
*.mo
*.py[cod]
*.so


#----- Directories
.cache
.idea/*
__pycache__
bin
build
develop-eggs
dist
eggs
lib
lib64
parts
sdist
var

#----- files
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.tox
nosetests.xml
pip-log.txt

